<div class="container my-5">
  <h3 >VEHICLE LIST</h3>
  <table class="table" *ngIf="vehicles && vehicles.length > 0">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">State Passing</th>
          <th scope="col">Regional Code</th>
          <th scope="col">Alphabets</th>
          <th scope="col">Vehicle Number</th>
          <th scope="col">User State</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles" >
          <td>{{vehicle.id}}</td>
          <td>{{vehicle.statePassing}}</td>
          <td>{{vehicle.regionalCode}}</td>
          <td>{{vehicle.alphabets}}</td>
          <td>{{vehicle.vehicleNumber}}</td>
          <td>{{vehicle.userState}}</td>
          <td>{{vehicle.owner}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!vehicles || vehicles.length <=0">No Vehicles Found !!</p>
  </div>
